@import "../../styles/variables.scss";

.pagination {
  display: flex;
  gap: 8px;

  .paginationItem {
    width: 32px;
    height: 32px;
    background: $white-0;
    border: 1px solid $pagination-item-border;
    border-radius: 4px;
    font-family: $roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: $pagination-text-color;

    &:hover {
      cursor: pointer;
    }

    &.disable {
      border: none;
      background: $pagination-disabled-background;
      opacity: 0.5;
      border-radius: 4px;

      .paginationIcon {
        opacity: 0.5;
      }

      &:hover {
        cursor: auto;
      }
    }

    &.current {
      border: solid 1px $tertiary-color;
      color: $tertiary-color;
    }
  }
}
